In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
data=pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [10]:
data['gender'].value_counts()

Male      32650
Female    16192
Name: gender, dtype: int64

In [11]:
data.loc[data['gender'] == 'Female', 'age'].mean()

36.92798913043478

In [29]:
(data['native-country']=='Germany').sum()/data.shape[0]

0.00421768150362393

<h4>5.What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?</h4>

In [13]:
ages1 = data.loc[data['income'] == '>50K', 'age']
ages2 = data.loc[data['income'] == '<=50K', 'age']
print("The average age of the rich: {0} +- {1} years, poor - {2} +- {3} years.".format(
    round(ages1.mean()), round(ages1.std(), 1),
    round(ages2.mean()), round(ages2.std(), 1)))

The average age of the rich: 44 +- 10.6 years, poor - 37 +- 14.1 years.

<h4>6.Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)?</h4>

In [41]:
data.loc[data['income'] == '>50K' ,'education'].all in ['Bachelors','Prof-school','Assoc-acdm','Assoc-voc','Masters']

False

<h4>7.Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.</h4>

In [48]:
data.groupby(['race','gender'])['age'].max()

race                gender
Amer-Indian-Eskimo  Female    80
                    Male      82
Asian-Pac-Islander  Female    81
                    Male      90
Black               Female    90
                    Male      90
Other               Female    74
                    Male      77
White               Female    90
                    Male      90
Name: age, dtype: int64

<h4>8.Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

</h4>

In [51]:
data.loc[(data['gender'] == 'Male') & (data['relationship'] == 'Husband'),'income'].value_counts()

<=50K    10869
>50K      8846
Name: income, dtype: int64

In [54]:
data.loc[(data['gender'] == 'Male') &
     (data['marital-status'].str.startswith('Married')), 'income'].value_counts()

<=50K    11318
>50K      8917
Name: income, dtype: int64

<h4>9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?</h4>

In [70]:
max_data = data['hours-per-week'].max()
max_data

99

In [69]:
all = data[data['hours-per-week'] == max_data].shape[0]
all

137

In [71]:
all/data.shape[0]

0.0028049629417304777

<h4>10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

</h4>

In [73]:
for (country, salary), sub_df in data.groupby(['native-country', 'income']):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 2))

? <=50K 39.55
? >50K 45.32
Cambodia <=50K 41.16
Cambodia >50K 43.89
Canada <=50K 37.38
Canada >50K 46.13
China <=50K 36.69
China >50K 42.03
Columbia <=50K 39.12
Columbia >50K 56.25
Cuba <=50K 39.2
Cuba >50K 42.85
Dominican-Republic <=50K 41.56
Dominican-Republic >50K 42.8
Ecuador <=50K 37.95
Ecuador >50K 47.83
El-Salvador <=50K 35.82
El-Salvador >50K 43.45
England <=50K 39.38
England >50K 46.3
France <=50K 40.09
France >50K 46.5
Germany <=50K 38.9
Germany >50K 45.71
Greece <=50K 41.87
Greece >50K 55.56
Guatemala <=50K 38.79
Guatemala >50K 36.67
Haiti <=50K 36.41
Haiti >50K 40.67
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.06
Honduras >50K 50.0
Hong <=50K 39.0
Hong >50K 43.75
Hungary <=50K 34.08
Hungary >50K 46.33
India <=50K 38.04
India >50K 46.27
Iran <=50K 39.97
Iran >50K 47.95
Ireland <=50K 41.27
Ireland >50K 45.18
Italy <=50K 38.69
Italy >50K 45.65
Jamaica <=50K 38.63
Jamaica >50K 42.4
Japan <=50K 39.73
Japan >50K 47.06
Laos <=50K 39.33
Laos >50K 40.0
Mexico <=50K 39.93
Mexico >50K 45.64
Nicaragua <=50K 36.85
Nicaragua >50K 38.33
Outlying-US(Guam-USVI-etc) <=50K 41.41
Outlying-US(Guam-USVI-etc) >50K 40.0
Peru <=50K 36.21
Peru >50K 40.0
Philippines <=50K 38.01
Philippines >50K 43.59
Poland <=50K 37.23
Poland >50K 39.59
Portugal <=50K 41.25
Portugal >50K 46.75
Puerto-Rico <=50K 38.91
Puerto-Rico >50K 39.9
Scotland <=50K 40.83
Scotland >50K 46.67
South <=50K 41.05
South >50K 51.4
Taiwan <=50K 35.31
Taiwan >50K 45.54
Thailand <=50K 43.04
Thailand >50K 53.0
Trinadad&Tobago <=50K 38.8
Trinadad&Tobago >50K 40.0
United-States <=50K 38.82
United-States >50K 45.47
Vietnam <=50K 37.85
Vietnam >50K 39.43
Yugoslavia <=50K 38.53
Yugoslavia >50K 43.38

In [74]:
data.groupby('race').agg({'age': ['min', 'max', 'mean']})

                   age
                   min max       mean
race
Amer-Indian-Eskimo  17  82  36.693617
Asian-Pac-Islander  17  90  37.858460
Black               17  90  37.914408
Other               17  77  33.657635
White               17  90  38.824362

In [79]:

data.groupby('workclass').agg({'age': ['min', 'max', 'mean']})

                 age
                 min max       mean
workclass
?                 17  90  40.141122
Federal-gov       17  90  42.577514
Local-gov         17  90  41.676020
Never-worked      17  30  19.900000
Private           17  90  36.903144
Self-emp-inc      17  85  45.799410
Self-emp-not-inc  17  90  45.332470
State-gov         17  81  39.512367
Without-pay       19  74  47.285714